<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Welcome back to Cloud Counting!</h4>
            <p class="category"></p>
        </div>
        <div class="content">
            <div class="body">
            Clound Counting is a cloud based accounting application that allows you to access your data using any internat capable device!

            <hr>

            <div>Main features of Cloud Counting are:</div>

            <br>
            <ul>
                <li>Chart Of Accounts - Allows you to add your General Ladger accounts and keep track of them!</li>
                <li>Vendors - A perfect place to track your Vendors/Payees!</li>
                <li>Bills - Expenses are usually hard to keep up with, but with Bills you will have no problem recording them!</li>
                <li>Invoices - When you're making money, make sure you've got invoices to back it up!</li>
            </ul>
            </div>
        </div>
    </div>
</div>