{{side-bar}}
<div class="parent-wrapper">
    <div class="wrapper">
        <div class="main-panel">
            {{top-bar transitionToSignIn="transitionToSignIn"}}


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                    	{{outlet}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>