<div class="sidebar">

	<div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Cloud Counting
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                {{#link-to "accounting.dashboard"}}
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                {{/link-to}}
            </li>

            <li>
                {{#link-to "accounting.bills"}}
                    <i class="pe-7s-wallet"></i>
                    <p>Bills</p>
                {{/link-to}}
            </li>

            <li>
                {{#link-to "accounting.invoices"}}
                    <i class="pe-7s-cash"></i>
                    <p>Invoices</p>
                {{/link-to}}
            </li>
            <li>
                {{#link-to "accounting.accounts"}}
                    <i class="pe-7s-note"></i>
                    <p>Chart Of Accounts</p>
                {{/link-to}}
            </li>
            <li>
                {{#link-to "accounting.vendors"}}
                    <i class="pe-7s-users"></i>
                    <p>Vendors/Customers</p>
                {{/link-to}}

            </li>
        </ul>
	</div>
</div>